header {}
header .menu_wrap {}
header .menu_wrap .gnb {
	display: flex; flex-flow: row nowrap;
	justify-content: center;
	padding: 30px; 
}
header .menu_wrap .gnb li {}
header .menu_wrap .gnb li a {
	font-family: 'Dosis', sans-serif;
	color: #fff; font-weight: 600;
	font-size: 1.5rem; letter-spacing: 1.5px;
	padding: 10px;
	margin-right: 20px;
}
header .menu_wrap .gnb li a:nth-child(4) {margin-right: 0;}
header .menu_wrap .gnb li a:hover {
	box-shadow: inset 6.5em 0 0 0 var(--hover);
	color: #000;
	transition: 0.9s;
}
header .menu_wrap .gnb li > a {
	--hover: #fff;
	border-radius: 1px;
}
main {position: relative;}
main #box {
	height: 100px;
	padding: 30px;
}
main #box .text{
	width: 970px;
	color: #fff;
	font-size: 3rem;
	line-height: 2;
	position: absolute; left: 50%; top: 220px;
	transform: translateX(-50%);
}
main #box .blink{
	animation: blink 0.5s infinite;
}
@keyframes blink {
	to {
		opacity: 0;
	}
}
main .moon {
	width: 1350px;
	position: absolute; left: 50%; bottom: 100;
	transform: translateX(-50%);
	position: fixed;
}
main .moon img {
	width: 100%;
	position: fixed;
	animation: moon 180s linear infinite;
}
main .copyright {
	font-family: 'Dosis', sans-serif;
	color: #fff; font-size: 0.875rem;
	letter-spacing: 1.5px;
	position: relative; left: 50px; top: 740px;
}

@keyframes moon {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}